.main-content {
  padding: 6.5rem 1.1rem;
  margin-top: 3rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.main-highlight {
  color: #0052cb;
}

p {
  font-size: 1.3rem;
  color: #1a1a1a;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

#break {
  display: block;
}

.start-btn {
  background-color: #0052cb;
  color: white;
  border: none;
  padding: .7rem 1.3rem;
  font-size: 20px;
  border-radius: 2.5rem;
  cursor: pointer;
}


@media screen and (max-width: 375px) {
  .main-content {
    padding: 4rem .6rem;
    margin-top: 1rem;
  }
  h1 {
    font-size: 2.8rem;
  }

  .main-p{
    font-size: 16px;
  }

  #break {
    display: inline;
  }

  .start-btn{
  padding: .6rem 1.1rem;
  font-size: 16px;
  }
}